*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    color: #ffffff;
    text-align: justify;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    z-index: 1000;
}

.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px;
    background-color: #181616;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.banner .content{
    max-width: 950px;
    margin-bottom: 15px;
}

.title{
    color: #f5f6f8;
    font-size: 3.0rem;
    margin-bottom: 15px;
}

.subtitle{
    color: #f5f6f8;
    font-size: 1.3rem;
    margin-bottom: 15px;
    margin-top: 15px;
}

.sinopsis{
    background-color: #1f232b;
    text-align: center;
    font-size: 12px;
    width: 600px;
    height: 250px;
    float: left;
    border-radius: 35px 0px 35px 0px;
    -moz-border-radius: 35px 0px 35px 0px;
    -webkit-border-radius: 35px 0px 35px 0px;
    border: 2px solid #5878ca;
    margin-bottom: 15px;
    margin-right: 30px;


}

.poster{
    background-color: aquamarine;
    width: 300px;
    height: 250px;
    float: left;
    margin-bottom: 15px;
    background: url(Parasite.jpg);
    background-position: center;
    background-size: cover;
}

.reparto{
    background-color: #1f232b;
    width: 285px;
    height: 250px;
    float: left;
    text-align: center;
    font-size: 12px;
    border-radius: 35px 0px 35px 0px;
    -moz-border-radius: 35px 0px 35px 0px;
    -webkit-border-radius: 35px 0px 35px 0px;
    border: 2px solid #5878ca;
    margin-bottom: 15px;
    margin-right: 30px;
}

.premios{
    background-color: #1f232b;
    width: 285px;
    height: 250px;
    float: left;
    text-align: center;
    font-size: 12px;
    -moz-border-radius: 35px 0px 35px 0px;
    -webkit-border-radius: 35px 0px 35px 0px;
    border: 2px solid #5878ca;
    margin-bottom: 15px;
    margin-right: 30px;

}

.avance{
    width: 300px;
    background-color: #1f232b;
    background: url(Parasite.mp4);
    float: left;
}

video{
    width: 100%;

}




.banner .content h2{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2.5em;
    letter-spacing: 0.1em;
    color: #fff;
}
.banner .content h2 span{
    font-weight: 800;
}
.banner .content p{

    font-weight: 300;
    font-size: 1.2em;
    letter-spacing: 0.02em;
    line-height: 1.5em;
    color: #fff;
    margin: 15px 0 35px;
}