.u-section-1 {
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 810px;
}

.u-section-1 .u-layout-wrap-1 {
  width:auto;
  margin: 60px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height:auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 60px 50px 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  line-height: 32px;
  letter-spacing: normal;
  font-size: 1.25rem;
  margin: 31px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 673px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0 30px 7px;
}

.u-section-1 .u-image-1 {
  width: 250px;
  height: 135px;
  margin: 0 9px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 668px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 668px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 526px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 555px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 512px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 512px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.0625rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 403px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 384px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 384px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 490px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 242px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 242px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 20px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 309px;
  }
}.u-section-2 {
  background-image: linear-gradient(#478ac9, #db545a);
}

.u-section-2 .u-sheet-1 {
  min-height: 750px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 65px auto 65px 0;
}

.u-section-2 .u-image-1 {
  min-height: 315px;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 315px;
}

.u-section-2 .u-container-layout-2 {
  padding: auto;
}

.u-section-2 .u-text-1 {
  width: 125px;
  font-size: 2.5rem;
  margin: 0 auto;
}

.u-section-1 .u-textt-1 {
  font-size: 1.75rem;
  margin: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 315px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-2 .u-image-2 {
  min-height: 315px;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1780px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }
}